.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 40px;
  background-color: #f6ddcc;
}
.header {
  font-family: "Roboto", sans-serif;
  color: #566573;
}
.list {
  list-style: none;
}
